$desert-rabbit-fur: #d3d3d3;

.form {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border-color: $desert-rabbit-fur;
}

.form-group {
  @extend .form;
  width: 37%;
}

.form-control {
  @extend .form;
  width: 80%;
}
