<!DOCTYPE html>
<html>
<head>
  <title>DbcOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron">
      <h2 class="text-center">"Anything added dilutes everything else."</h2>
    </div>
  <div class='col-md-4 col-md-offset-4'>
    <%= yield %>
  </div>
</body>
</html>
